<configuration>
  
  <appender name="ACCESS_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
  	<file>/Users/piersrom/Documents/workspaces/github_romanpierson/vertx-web-accesslog/logs/async/vertx-web-access.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
    	<fileNamePattern>vertx-web-access.%d{yyyy-MM-dd}.log</fileNamePattern>
		<maxHistory>10</maxHistory>
    </rollingPolicy>
    <encoder>
     	<pattern>%msg%n</pattern>
    	<immediateFlush>true</immediateFlush>
    </encoder>
  </appender>
  
  
	<appender name="ACCESS_FILE_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
  		<discardingThreshold>0</discardingThreshold>
  		<queueSize>500</queueSize>
  		<maxFlushTime>5000</maxFlushTime>
 		<appender-ref ref="ACCESS_FILE" />
 	</appender>
  
  

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender" level="info">
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>
  
  <logger name="com.mdac.vertx.web.accesslogger.impl.AccessLoggerHandlerImpl" level="info" additivity="false">
      <appender-ref ref="ACCESS_FILE" />
      <appender-ref ref="STDOUT" />  
    </logger>
    
  <root level="warn">
    <appender-ref ref="STDOUT" />
  </root>
  
</configuration>